Django==1.11.16
django-netfields==0.5.3
djangorestframework==3.6.4
djangorestframework-csv==1.4.1
psycopg2==2.7.3
django-forms-bootstrap==3.1.0
python-dateutil==2.4.2
dj-database-url==0.4.1
whitenoise==3.3.0
gunicorn==19.5.0
django-pglocks==1.0.2
