{% extends "base.html" %}
{% load bootstrap_tags %}

{% block content %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to access this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'accounts_login' %}">
{% csrf_token %}
{{ form | as_bootstrap }}

<input type="submit" value="Login" class="btn btn-primary" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
