{% extends "base.html" %}

{% block content %}

<h2>Pages</h2>

<ul>
    <li><a href="{% url 'add' %}">Add Block</a></li>
    <li><a href="{% url 'query' %}">Query</a></li>
    <li><a href="{% url 'stats' %}">Stats</a></li>
    <li><a href="{% url 'list' %}">Block list</a></li>
</ul>

<h2>Limited access Pages</h2>

{% if show_limited %}
<ul>
    <li><a href="{% url 'query_limited' %}">Query</a></li>
    <li><a href="{% url 'list_limited' %}">Block list</a></li>
</ul>
{% endif %}


{% endblock %}
