{% extends "base.html" %}
{% block content %}

<h3> CSV Files </h3>
<ul>
    <li><a href="{% url 'csv' %}">Block list CSV</a></li>
    <li><a href="{% url 'pubcsv' %}">Public Block list CSV</a></li>
</ul>

<form action="{% url 'unblock' %}" method="POST">{% csrf_token %}
    <input type="submit" value="Unblock Selected" />
    <input type="hidden" name="query" value="{{query}}" />

{% include "bhr/_blocklist.html" with blocks=manual_blocks title="Manual Blocks" %}
{% include "bhr/_blocklist.html" with blocks=auto_blocks title="50 most recent automated blocks" %}

</form>

{% endblock %}
