{% extends "base.html" %}
{% block content %}

<h3> CSV Files </h3>
<ul>
    <li><a href="{% url 'csv' %}">Block list CSV</a></li>
    <li><a href="{% url 'pubcsv' %}">Public Block list CSV</a></li>
</ul>

<form action="{% url 'unblock' %}" method="POST">{% csrf_token %}
    <input type="submit" value="Unblock Selected" />
    <input type="hidden" name="query" value="{{query}}" />

<table class="table table-striped table-bordered">

<thead>
<tr>
    <th>Unblock</th>
    <th>Cidr</th>
    <th>Who</th>
    <th>Source</th>
    <th>Why</th>
    <th>Added</th>
    <th>Unblock At</th>
</tr>
</thead>

<tbody>
{% for b in blocks %}
    <tr>
        <td>
            <input type="checkbox" name="block_id" value="{{b.id}}">
        </td>
        <td>{{ b.cidr }} </td>
        <td>{{ b.who__username }} </td>
        <td>{{ b.source }} </td>
        <td>{{ b.why }} </td>
        <td>{{ b.added }} </td>
        <td>{{ b.unblock_at }} </td>
    </tr>
{% endfor %}
</tbody>

</table>

</form>

{% endblock %}
