{% extends "base.html" %}

{% block content %}

<h2>Stats</h2>

<h3> Current {{ stats.current }} </h3>

<h3> Expected {{ stats.expected }} </h3>

<h3> Block Pending {{ stats.block_pending }} </h3>

<h3> Unblock Pending {{ stats.unblock_pending }} </h3>

<h2> Source Stats </h2>

<table class="table table-striped table-bordered" style="width: auto">
<tr><th> Source </th> <th> Count </th> </tr>
{% for source, count in source_stats.items %}
    <tr>
        <td> <a href="{% url 'source-list' source %}">{{ source }}</a></td>
        <td> {{ count }} </td>
    </tr>
{% endfor %}
</table>

{% endblock %}
